<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="rpcusername" value ="kshitij16"/>
    <add key ="rpcpassword" value ="kshitij123"/>
    <add key ="wallet_url" value ="http://localhost"/>
    <add key ="wallet_port" value ="7313"/>
  </appSettings>
	<connectionStrings>
		<add name="Certificate._1.Properties.Settings.rootConnectionString"
            connectionString="Data Source=BT1707113\SQLEXPRESS02;Initial Catalog=ranchisummit;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>